html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
}

.calculator {
  background: #2b2b2b;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.6);
}

/* Display */
.calculator-display {
  background: black;
  color: #fff;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  border-radius: 10px 10px 0 0;
  max-width: 100%;
  font-family: 'Lucida Console', sans-serif;
  padding: 25px;
}

.calculator-display h1 {
  margin: 0;
  font-size: 45px;
  font-family: 'Lucida Console', sans-serif;
  font-weight: 100;
  overflow-x: auto;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Buttons */
.calculator-buttons {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px;
}

button {
  min-height: 50px;
  font-size: 25px;
  font-weight: 500;
  border: none;
  color: #fff;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  filter: brightness(110%);
}

button:active {
  transform: translateY(1px);
}

button:focus {
  outline: none;
}

.operator {
  color: gray;
  font-size: 30px;
}

.clear {
  background-color: transparent;
  color: #ff2828;
}

.clear:hover {
  filter: brightness(90%);
}

.equal-sign {
  grid-column: -2;
  grid-row: 2 / span 4;
  background-color: transparent;
  color: #0dce57;
}

.decimal {
  color: gray;
}

/* Media Query: Large Smartphone (Vertical) */
@media screen and (max-width: 600px) {
  .calculator {
    width: 95%;
  }
}
